.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #3399ff, #66a3ff, #99bbff);
  }
  
  .container {
    text-align: center;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    font-size: 4rem;
    margin: 0;
    color: #333;
  }
  
  .description {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #666;
  }
  
  .home-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3399ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .home-link:hover {
    background-color: #267acc;
  }
  